<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Playlist</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

    <header class="main-header">
        <h1 class="main-title">iRank V2</h1>
    </header>
    
    <!-- Playlist Area -->
    <div class="container" id="playlist_area">
        <table id="playlist_table">
            <thead>
                <tr>
                    <th>Action</th><th>Title</th><th>Artist</th><th>Artwork</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Input Area -->
    <div class="container" id="input_area">
        <div class="wrapper">
            Enter Song Title: <input type="text" id="songTitleTextField" />
            <button id="submit_button">Submit</button>
        </div>
    </div>

    <!-- Search Results Area -->
    <div class="container" id="search_results">
        <h2><span id="search_query"></span></h2>
        <table id="search_results_table">
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Registration Form -->
    <div class="container" id="registration_area">
        <form id="registerForm">
            <h2>Register</h2>
            <input type="text" id="username" placeholder="Username" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Register</button>
        </form>
    </div>

    <script src="js/script.js"></script>
    <script>
        document.getElementById('registerForm').addEventListener('submit', function(event) {
            event.preventDefault();
            let username = document.getElementById('username').value;
            let password = document.getElementById('password').value;

            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            })
            .then(response => response.text())
            .then(data => {
                alert(data);
            });
        });
    </script>
</body>
</html>
